
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.justify-col-center {
  display: flex;
  justify-content: center;
  transition: transform .25s;
  &:hover {
    transform: scale(1.1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.addable:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.material-icons.add {
  text-shadow:0 1px 3px #090909, 0 1px 2px;
  font-size: 1.5em;
}
.deck-list {
  margin-bottom:0; 
  display:flex; 
  align-items:center;
  .material-icons {
    font-size: 16px;
    cursor: pointer;
  }
}