
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.homepage-blog-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-height: 400px;
  }
}

a.navbar-brand {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.8em;
  display:flex;
  align-items: center;
  img {
    max-height: 41px;
    padding-right: 0.1em;
  }
}

.justify-col-center {
  display: flex;
  justify-content: center;
  transition: transform .25s;
  &:hover {
    transform: scale(1.1);
  }
}

.card {
  &.full-width {
    width: 100%;
  }
}

// set max height on card images 
img.card-image {
    max-height: 311px;
}

.clickable {
  cursor:pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.addable:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.material-icons.add {
  text-shadow:0 1px 3px #090909, 0 1px 2px;
  font-size: 1.5em;
}
.deck-list {
  margin-bottom:0; 
  display:flex; 
  align-items:center;
  .material-icons {
    font-size: 16px;
    cursor: pointer;
  }
}

@keyframes cube-spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube-wrap {
  perspective: 800px;
  perspective-origin: 50% 90px;
}

.cube {
  position: relative;
  width: 180px;
  margin: 0 auto;
  transform-style: preserve-3d;
  margin:0 auto; 
  cursor: pointer;
  height: 150px; 
  width: 180px;
  &:hover {
    animation: cube-spin 5s infinite linear;
  }
}

.cube div {
    background-position: 50% 20%;
    position: absolute;
    width: 180px;
    height: 130px;
    font-size: 20px;
    text-align: center;
    line-height: 180px;
    color: rgba(0,0,0,0.5);
}
.front-pane {
  transform: translateZ(90px);
}
.back-pane {
  transform: translateZ(-90px) rotateY(180deg);
}
.top-pane {
  transform: rotateX(-90deg) translateY(-90px);
  transform-origin: top center;
}
.bottom-pane {
  transform: rotateX(90deg) translateY(90px);
  transform-origin: bottom center;
}
.left-pane {
  transform: rotateY(270deg) translateX(-90px);
  transform-origin: center left;      
}
.right-pane {
  transform: rotateY(270deg) translateX(90px);
  transform-origin: top right;
}

.health-flip {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

// used for materialize icon buttons like change layout
div {
  &.mat-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    .material-icons {
      text-align: center;
    }
  }
}

// for hovering on card names
.modal-image {
  position: absolute;
  transform: translateY(-50%) translateX(-105%);
  z-index: 9999;
}

.homepage-title {
  // Small devices (landscape phones, 576px and up)
  font-family: 'Shadows Into Light', cursive;
  text-align:center;
  font-size: 40px;
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    font-size: 60px;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    font-size: 84px;
  }
}

.homepage-links {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 1em;
  width: 100%;
  .hp-link {
    font-size: 14px;
    font-weight: 600;
    @media (max-width: 767px) {
      font-size: 18px;
      width: 100%;
      text-align: center;
      border: 1px solid black;
      margin-bottom: 1em;
      background-color: gainsboro;
    }
  }
  @media (min-width: 768px) { 
    flex-direction:row;
    justify-content: space-evenly;
    padding: initial;
  }
}

// for toggle mana color filters
.opaque {
  opacity: 0.5;
}

// prevent blue box that shows up when clicking quick
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// throw the robots off the trail / honepot
.cool {
  display:none;
  opacity: 0;
}
// set background for blog wysiwyg editor
.ql-editor {
  background-color: white;
}

// blog featured image
.blog-card {
  .featured-img {
    height: 200px;
    background-position: 50%;
    background-size: cover;
    margin-top: -1px;
  }
}

// card headers with action buttons, align button to right
.header-with-btn {
  display: flex;
  justify-content: space-between;
}

// used for setting card rankings
.form-group {
  &.rankings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.all-blog-img {
  max-width: 64px;
}

.scroll {
  height: 150px;
  overflow-y: scroll;
}