
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.justify-col-center {
  display: flex;
  justify-content: center;
  transition: transform .25s;
  &:hover {
    transform: scale(1.1);
  }
}

.card {
  &.full-width {
    width: 100%;
  }
}

.clickable {
  cursor:pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.addable:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.material-icons.add {
  text-shadow:0 1px 3px #090909, 0 1px 2px;
  font-size: 1.5em;
}
.deck-list {
  margin-bottom:0; 
  display:flex; 
  align-items:center;
  .material-icons {
    font-size: 16px;
    cursor: pointer;
  }
}

@keyframes cube-spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube-wrap {
  perspective: 800px;
  perspective-origin: 50% 90px;
}

.cube {
  position: relative;
  width: 180px;
  margin: 0 auto;
  transform-style: preserve-3d;
  margin:0 auto; 
  cursor: pointer;
  height: 150px; 
  width: 180px;
  &:hover {
    animation: cube-spin 5s infinite linear;
  }
}

.cube div {
    background-position: 50% 20%;
    position: absolute;
    width: 180px;
    height: 130px;
    font-size: 20px;
    text-align: center;
    line-height: 180px;
    color: rgba(0,0,0,0.5);
}
.front-pane {
  transform: translateZ(90px);
}
.back-pane {
  transform: translateZ(-90px) rotateY(180deg);
}
.top-pane {
  transform: rotateX(-90deg) translateY(-90px);
  transform-origin: top center;
}
.bottom-pane {
  transform: rotateX(90deg) translateY(90px);
  transform-origin: bottom center;
}
.left-pane {
  transform: rotateY(270deg) translateX(-90px);
  transform-origin: center left;      
}
.right-pane {
  transform: rotateY(270deg) translateX(90px);
  transform-origin: top right;
}

.health-flip {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
